*{
    margin: 0;
    padding: 0;
}

body{
    background: rgb(248, 248, 248);
}

/*navsidebar*/

.sidenav {
    height: 100%; 
    width: 0; 
    position: fixed; 
    z-index: 1; 
    top: 0; 
    right:  0;
    background-color: rgb(95, 72, 91); 
    overflow-x: hidden; 
    padding-top: 60px; 
    transition: 0.5s; 
    font-family: 'Open Sans', sans-serif;
}
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: rgb(245, 245, 245);
    display: flex;
    transition: 0.3s;
}
.sidenav a:hover {
    color: rgb(24, 24, 24);
    background-color: rgb(196, 196, 196);
}
#closebtn{
    padding: 8px 8px 8px 8px;
}
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

/* burger*/

.burger{
    right: 10px;
    position: fixed;
    flex-direction: column;
    
    padding: 10px;
    margin: 0px;    
}
.burger-bar{
    width: 35px;
    height: 6px;
    background-color: rgb(39, 39, 39);
    border: solid 1px white;
    margin: 4px 0;
}
.burger:hover{
    cursor: pointer;
}


/* area for information*/

.misc-info{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 100px;
    text-align: center;
    margin: 10px;
    background-color: rgb(215, 240, 252);
    font-family: 'Open Sans', sans-serif;
}
#box1{
    place-self: center;
    color: rgb(17, 17, 17);
    border-bottom: 2px transparent black;
}
#box1:hover{
    place-self: center;
    border-bottom: 2px solid black;
    transition: ease-in 0.5s;
    cursor: pointer;
}
#box2{
    place-self: center;
    color: rgb(17, 17, 17);
    border-bottom: 2px transparent black;
}
#box2:hover{
    place-self: center;
    border-bottom: 2px solid black;
    transition: ease-in 0.5s;
    cursor: pointer;
}
#box3{
    place-self: center;
    color: rgb(17, 17, 17);
    border-bottom: 2px transparent black;
}
#box3:hover{
    place-self: center;
    border-bottom: 2px solid black;
    transition: ease-in 0.5s;
    cursor: pointer;
}
#box4{
    place-self: center;
    color: rgb(17, 17, 17);
    border-bottom: 2px transparent black;
}
#box4:hover{
    place-self: center;
    border-bottom: 2px solid black;
    transition: ease-in 0.5s;
    cursor: pointer;
}